/*
 * == Filters Style ==
 */

/* Filters Style */
.filters {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
/* Search button style */
.filters button {
	background: #FF5A5F;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	float: right;
	height: 48px;
	width: 20%;
	font-size: 18px;
	margin: 12px 30px;
}
/*change opacity to 90% when mouse is on the button*/
.filters button:hover {
	background-color: rgba(255, 90, 95, .9);
}
